@media screen and (max-width: 768px) {
    /* theme-vars */
    :root {
        --gap: 14px;
    }

    /* post-entry */
    .first-entry {
        min-height: 260px;
    }

    /* archive */
    .archive-month {
        flex-direction: column;
    }

    .archive-year {
        margin-top: 20px;
    }

    /* footer */
    .footer {
        padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
    }
}

@media screen and (max-width: 1700px) {
    .responsive-content {
        max-width: calc(var(--main-width) + 5%);
    }
}

@media screen and (max-width: 1400px) {
    .responsive-content {
        max-width: calc(var(--main-width) + 10%);
    }
}

@media screen and (max-width: 1300px) {
    .row {
        display: block;
    }
    .column {
        width: 100%;
        margin-left: auto;
    }
    #avatar {
        max-width: 350px;
        margin: auto;
    }
}

@media screen and (max-width: 1200px) {
    .responsive-content {
        max-width: calc(var(--main-width) + 15%);
    }
}

@media screen and (max-width: 1000px) {
    .responsive-content {
        max-width: calc(var(--main-width) + 20%);
    }
    #list-of-posts-left {
        width: 100%;
        padding-bottom: 0;
    }
    #list-of-posts-right {
        width: 100%;
        padding-top: 0;
    }
}

@media screen and (max-width: 900px) {
    .responsive-content {
        max-width: 75%;
    }    
}

@media screen and (max-width: 700px) {
    .responsive-content {
        max-width: 90%;
    }
}


/* footer */
@media screen and (max-width: 900px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
}

@media (prefers-reduced-motion) {
    /* terms; profile-mode; post-single; post-entry; post-entry; search; search */
    .terms-tags a:active,
    .button:active,
    .post-entry:active,
    .top-link,
    #searchResults .focus,
    #searchResults li:active {
        transform: none;
    }
}
