{{- define "main" }}

<!-- Includes the content of the _index page in the NOW section -->
{{- if .Content }}
<div class="post-content" style="margin-top: 5%;">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}
  {{ .Content }}
  {{- end }}
</div>
{{- end }}

<!-- Gets all the pages with type NOW -->
{{- $pages := where site.RegularPages "Type" "in" "now" }}

<!-- Prints the content of the last post, which is the really now. Belowe the archives of Now posts -->
{{- range first 1 ($pages.ByDate.Reverse) }}
<header class="post-content" style="margin-top: 5%;">
<h1>
  {{ .Title }}
  {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
</h1>
</header>
{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}
  {{ .Content }}
  {{- end }}
  {{- if (.Param "Backlinks") -}}
  {{- partial "backlinks.html" . -}}
  {{- end -}}
</div>
{{- end }}
{{- end }}

<!-- Prints the table with all the dates and posts sorted by year and month, i.e. the now Archive -->
{{- range $pages.GroupByPublishDate "2006" }}
<!-- Check if there is any entry, if there isn't we don't need to print the Archive -->
{{- if and (ne .Key "0001") (gt (len $pages) 1) }}
<div class="post-content" style="margin-top: 10%;">
  <h2>{{ i18n "now-archive" }}</h2>
</div>
<div class="archive-year">
  <h2 class="archive-year-header">
    {{- replace .Key "0001" "" }}<sup class="archive-count">&nbsp;&nbsp;{{ len .Pages }}</sup>
  </h2>
  {{- range .Pages.GroupByDate "January" }}
  <div class="archive-month">
    <h3 class="archive-month-header">{{ humanize .Key }}<sup class="archive-count">&nbsp;&nbsp;{{ len .Pages }}</sup></h3>
    <div class="archive-posts">
      {{- range .Pages }}
      {{- if eq .Kind "page" }}
      <div class="archive-entry">
        <h3 class="archive-entry-title">
          {{- .Title | markdownify }}
          {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
        </h3>
        <div class="archive-meta">
          {{- partial "post_meta.html" . -}}
        </div>
        <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
      </div>
      {{- end }}
      {{- end }}
    </div>
  </div>
  {{- end }}
</div>
{{- end }}
{{- end }}

{{- end }}{{/* end main */}}
