/* #BackLinkList { */
/*   /\* list-style-type: none; /\\* Remove bullets *\\/ *\/ */
/*   padding: 0; /\* Remove padding *\/ */
/*   margin: 0; /\* Remove margins *\/ */
/* } */

.backlinks {
    background: var(--code-bg);
    padding: 35px 45px 35px 45px;
    margin: 80px 0 80px 0;
}

.backlinks ol,
.backlinks ul {
    margin-top: 30px;
    padding-inline-start: 40px;
}

.backlinks li {
    margin-top: 0px;
}


