.responsive-content {
    max-width: var(--main-width);
    margin: auto;
    padding: 2%;
    padding-bottom: calc(var(--gap)*3);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadowed-box {
    background-color: var(--entry);
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    float: left;       
}

.left {
    width: 30%;
    padding: 2%;
}

.right {
    width: 70%;
    padding: 2%;
    padding-left: 5%;
}


#avatar img {
    border-radius: 50%;
}

#list-of-posts-left {
    width: 70%;
    padding: 10px;
}

#list-of-posts-right {
    width: 30%;
    font-size: 14px;
    padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
