.responsive-content {
    max-width: var(--main-width);
    margin: auto;
    padding: 2%;
    padding-bottom: calc(var(--gap)*3);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadowed-box {
    /* background-color: var(--entry); */
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#boxTo90percent {
    max-width: calc(var(--main-width) + 30%);
}

#post-content-width {
    max-width: calc(var(--main-width) + 5%);
}

.row {
    display: flex;
}

.column {
    float: left;       
}

.left {
    width: 40%;
    padding: 2%;
}

.right {
    width: 60%;
    padding: 2%;
    padding-left: 5%;
}

#avatar img {
    max-width: 90%;
    border-radius: 50%;
}

#povText {
    max-width: 250px;
}

#list-of-posts-left {
    width: 70%;
    padding: 10px;
}

#list-of-posts-right {
    width: 30%;
    font-size: 14px;
    padding: 10px;
}

#nletter-paragraph {
    margin-left: 100px;
    margin-right: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
