/* Link decoration of the Translations */
.linkBlue a,
.i18n_list li a {
  text-decoration: none;
}

.linkBlue a,
.i18n_list li a {
    background:
        linear-gradient(
            to right,
            hsla(196, 71%, 58%, .25),
            hsla(196, 71%, 58%, .25)
        ),
        linear-gradient(
            to right,
            hsla(196, 71%, 58%, 1),
            hsla(196, 71%, 58%, 1),
            hsla(196, 71%, 58%, 1)
        );
    background-size: 100% 2px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 300ms;
}

.linkBlue a:hover,
.i18n_list li a:hover {
  background-size: 0 2px, 100% 3px;
}
/* /\* Link decoration of the Translations - END *\/ */

/* Link decoration in the Table Of Contents */
.toc a,
.linkRainbow a {
  text-decoration: none;
}

.toc a,
.linkRainbow a {
    background:
        linear-gradient(
            to right,
            hsla(196, 71%, 58%, .75),
            hsla(196, 71%, 58%, .75)
        ),
        linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
        );
    background-size: 100% 2px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 300ms;
}

.toc a:hover,
.linkRainbow a:hover {
  background-size: 0 2px, 100% 3px;
}
/* Link decoration in the Table Of Contents - END  */

/* Links decoration in the posts */
.post-content p a,
.post-content li a {
  text-decoration: none;
}

.post-content p a,
.post-content li a {
    background-image    : linear-gradient(to top, hsla(196,61%,58%,0.25), hsla(196,61%,58%,0.25));
    background-size     : 100% 50%;
    background-repeat   : no-repeat;
    background-position : center bottom;
    transition          : all .3s ease-in-out;
}

.post-content p a:hover,
.post-content li a:hover {
    background-size  : 100% 70%;
    background-image : linear-gradient(to top, hsla(196,61%,58%,0.30), hsla(196,61%,58%,0.30));
}
/* Links decoration in the posts - END */

/* Link decoration global RainBow */
.linkRainbow a {
  text-decoration: none;
}

.linkRainbow a {
    background:
        linear-gradient(
            to right,
            hsla(196, 71%, 58%, .0),
            hsla(196, 71%, 58%, .0)
        ),
        linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
        );
    background-size: 100% 2px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 300ms;
}

.linkRainbow a:hover {
  background-size: 0 2px, 100% 3px;
}
/* Link decoration global RainBow - END */
